absl-py==0.9.0
astor==0.8.1
bleach==1.5.0
Click==7.0
cycler==0.10.0
Flask==1.1.1
Flask-SocketIO==4.2.1
Flask-WTF==0.14.2
gast==0.3.2
grpcio==1.26.0
html5lib==0.9999999
itsdangerous==1.1.0
Jinja2==2.11.0
joblib==0.14.1
kiwisolver==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==3.1.2
mlxtend==0.17.0
numpy==1.18.1
opencv-python==4.1.2.30
pandas==0.25.3
pyparsing==2.4.6
python-dateutil==2.8.1
python-engineio==3.11.2
python-socketio==4.4.0
pytz==2019.3
scikit-learn==0.22.1
scipy==1.4.1
selenium==3.141.0
six==1.13.0
tensorboard==1.8.0
termcolor==1.1.0
urllib3==1.25.7
virtualenv==16.7.9
Werkzeug==0.16.0
WTForms==2.2.1
