<html>
<head>
	<title>Join Chatroom</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
</head>

<body>
	<input type = "text" id = "username" placeholder="Your Name">
	<fieldset>
		<legend>Create Chatroom</legend>

		<input type = "text" id = "roomname" placeholder="Room Name">
		<input type = "button" value = "Create" onclick = "create()">
		<div id = "createstatus"></div>
	</fieldset>

	<fieldset>
		<legend>Join Chatroom</legend>

		<input type = "text" id = "roomcode" placeholder="Room Code">
		<input type = "button" value = "Join" onclick = "join()">
		<div id = "joinstatus"></div>
	</fieldset>

	<script type="text/javascript">
		var socket = io.connect('http://' + document.domain + ':'+location.port);
		var uniqueID = Math.floor(Math.random()*100000) + '';
		rcode = uniqueID;
		var btn = 0;		// 0 if create is pressed; 1 otherwise
		var rc;

		function create() {
			socket.emit('create request', {
				roomname : $("#roomname").val(),
				id : uniqueID
			});
		}

		function join() {
			btn = 1;
			rc = $("#roomcode").val();
			socket.emit('join request', {
				roomcode : rc,
				id : uniqueID
			});
			rcode = rc;
		}

		socket.on(uniqueID, function(msg) {

			if (msg == "0") {
				ids = ["createstatus", "joinstatus"];
				dms = ["Already Taken", "Does not exist"];
				document.getElementById(ids[btn]).innerHTML = "<font color='#ff0000'>" + dms[btn] + "</font>";
			}
			else {
				name = $("#username").val();
				sessionStorage.setItem('roomcode', rcode);
				sessionStorage.setItem('name', name);

				window.location.assign('http://' + document.domain + ':' + location.port + '/chatroom');
			}

		});
	</script>

</body>
</html>